
<% todosLosPost.forEach ((todosLosPost)=> { %>
<div class="col">   
  <div class="card p-3"  >
    <div class="card-body border ">
  
      <p class="card-title">Titulo:</p>
      <b><p class="card-title"><%= todosLosPost.titulo_del_post %></p></b>

      <p class="card-text ">Contenido:</p>
      <p class="card-text mb-3 "><%= todosLosPost.contenido %></p></br>
      <a class="card-text text-center" href="<%= todosLosPost.url %>" target="_blank">Ver imagen</a>
    
      <p class="card-text"><%= todosLosPost.createdAt %></p>
      
      <div class="row row-cols-2">
        <a href="/actions/borrar/<%= todosLosPost.id  %>" class="btn btn-danger  col-md-auto m-2 me-md-auto">Eliminar</a>
        <a href="/gets/post/<%= todosLosPost.id  %>" class="btn btn-danger  col-md-auto m-2 ms-md-auto">Ver post</a>
      </div>
    </div>
  </div> 
</div>
  <% }) %>

  <!-- col-sm-4 col-xl-3 -->